<div class="container">
  <div class="modal-content">
    <h2>ADD TASK</h2>
    <form id="addTaskForm" [formGroup]="addTaskForm">
      <div class="row">
        <div class="col-6">
          <label for="name">Name:</label>
          <input type="text" id="name" #nameText name="name" formControlName="name" placeholder="Enter Name" required />
          <div *ngIf="addTaskForm.get('name')?.invalid && addTaskForm.get('name')?.touched">
            <small class="validation-err" *ngIf="addTaskForm.get('name')?.hasError('required')">Name is required.</small>
            <small class="validation-err" *ngIf="addTaskForm.get('name')?.hasError('minlength')">Name should be at least 3 characters long.</small>
          </div>
        </div>
        <div class="col-6">
          <label for="description">Description:</label>
          <input type="text" id="description" #descriptionText name="description" formControlName="description" placeholder="Enter Description"
            required />
            <div *ngIf="addTaskForm.get('description')?.invalid && addTaskForm.get('description')?.touched">
              <small class="validation-err" *ngIf="addTaskForm.get('description')?.hasError('required')">Description is required.</small>
              <small class="validation-err" *ngIf="addTaskForm.get('description')?.hasError('minlength')">Description should be at least 5 characters long.</small>
            </div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="priority">Priority:</label>
          <select id="priority" #priorityText name="priority" required>
            <option value="">Select Priority</option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
        </div>
        <div class="col-6">
          <label for="status">Status:</label>
          <select id="status" #statusText name="status" required>
            <option value="">Select Status</option>
            <option value="not started">Not Started</option>
            <option value="in progress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="begindate">Begin Date:</label>
          <input type="text" id="begindate" #beginDateText name="begindate" placeholder="Enter Begin Date" required/>
        </div>
        <div class="col-6">
          <label for="enddate">End Date:</label>
          <input type="text" id="enddate" #endDateText name="enddate" placeholder="Enter End Date" required />
        </div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-3">
          <button mat-button mat-raised-button class="ml-3 btn-submit" color="primary" [disabled]="addTaskForm.invalid" (click)="saveTask($event)"
            type="submit">
            Submit
          </button>
        </div>
        <div class="col-3">
          <button mat-button mat-raised-button class="cancel-btn" color="primary" (click)="closeTaskModal()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>